<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>

<body>
    <div id="content" class="sidebarExpanded">
        <aside id="sidebar">
            <section id="sidebar-header">
                <section id="user-info">
                    <div id="user-logo"></div>
                    <p id="user-name">SOHEL</p>
                </section>
                <button id="button-toggle-sidebar"><img title="Toggle Sidebar" src="../icons/iconToggleSidebar.svg" alt="Toggle Sidebar Icon" class="icon"></button>
            </section>
            <section id="add-task">
                <button id="button-add-task">Add Task</button>
            </section>
            <section id="filtered-tasks" data-filter="all">
                <h2 id="filtered-tasks-heading">Tasks</h2>
                <div class="filtered-task selected" title="View All Tasks" data-filter="all">
                    <div class="filtered-task-icon"><img src="../icons/iconAllTasks.svg" alt="All Tasks Icon" class="icon"></div>
                    <button class="filtered-task-title">All</button>
                </div>
                <div class="filtered-task" title="View Completed Tasks" data-filter="completed">
                    <div class="filtered-task-icon"><img src="../icons/iconCompletedTasks.svg" alt="Completed Tasks Icon" class="icon"></div>
                    <button class="filtered-task-title">Completed</button>
                </div>
                <div class="filtered-task" title="View Today's Tasks" data-filter="today">
                    <div class="filtered-task-icon"><img src="../icons/iconTodayTasks.svg" alt="Todays Tasks Icon" class="icon"></div>
                    <button class="filtered-task-title">Today</button>
                </div>
                <div class="filtered-task" title="View Upcoming Tasks" data-filter="upcoming">
                    <div class="filtered-task-icon"><img src="../icons/iconUpcomingTasks.svg" alt="Upcoming Tasks Icon" class="icon"></div>
                    <button class="filtered-task-title">Upcoming</button>
                </div>
                <div class="filtered-task" title="View Missed Tasks" data-filter="missed">
                    <div class="filtered-task-icon"><img src="../icons/iconMissedTasks.svg" alt="Missed Tasks Icon" class="icon"></div>
                    <button class="filtered-task-title">Missed</button>
                </div>
                <div class="filtered-task" title="View Removed Tasks" data-filter="trash">
                    <div class="filtered-task-icon"><img src="../icons/iconTrashTasks.svg" alt="Trashed Tasks Icon" class="icon"></div>
                    <button class="filtered-task-title">Trash</button>
                </div>
            </section>
            <section id="projects">
                <div id="projects-heading">
                    <button id="project-dropdown-button">
                        <h2>Projects</h2>
                        <div class="caret" title="Hide All Projects"><img src="../icons/iconProjectDropdown.svg" alt="Projet Drop-down Icon" class="icon"></div>
                    </button>
                </div>
                <div id="all-projects-container">
                    <div class="project">
                        <div class="project-label-color"></div>
                        <div class="project-title">Default Project</div>
                        <div class="total-tasks-counter">0</div>
                    </div>
                </div>
            </section>
        </aside>
        <div id="content-main">
            <header id="header">
                <h2 id="currentTabCategory">Tasks:</h2>
                <h2 id="currentTab">All</h2>
            </header>
            <main id="main">
                <section id="sort-section">
                    <label for="sort">Sort By:</label>
                    <select name="sort" id="sort">
                        <option value="high">High Priority</option>
                        <option value="medium">Medium Priority</option>
                        <option value="low">Low Priority</option>
                        <option value="due">Due Date</option>
                    </select>
                </section>
                <section id="tasks-section">
                    <div data-id="#" class="checked task">
                        <div class="details">
                            <div class="title">
                                <div class="priority-indicator" style="border-color: red; background-color: red;"></div>
                                <div class="title-text">Task Title</div>
                                <div class="separator"></div>
                            </div>
                            <div class="description"><textarea name="description-text" class="description-text" spellcheck="false">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur eius libero, soluta vero quam, commodi voluptatum aut iusto iste itaque earum perferendis consequatur unde nesciunt accusamus repellendus nulla omnis recusandae?</textarea></div>
                            <div class="note non-collapsible">
                                <div class="note-label">Note:</div><textarea name="note-text" class="note-text" spellcheck="false">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur eius libero, soluta vero quam, commodi voluptatum aut iusto iste itaque earum perferendis consequatur unde nesciunt accusamus repellendus nulla omnis recusandae?</textarea>
                            </div>
                            <div class="priority-due-date-time">
                                <div class="priority non-collapsible"><select class="priority-input" name="priority-input">
                                        <option value="3">High</option>
                                        <option value="2">Medium</option>
                                        <option value="1">Low</option>
                                    </select>
                                    <div class="priority-label">Priority:</div>
                                    <div class="priority-text">Medium</div>
                                </div>
                                <div class="due-date-time">
                                    <input type="datetime-local" class="input-date-time" name="input-date-time" onclick="this.showPicker()">
                                    <div class="due-date-time-label">Due:</div>
                                    <div class="due-date">6/4/2025</div>
                                    <div class="separator non-collapsible">-</div>
                                    <div class="due-time non-collapsible">06:56 AM</div>
                                </div>
                            </div>
                        </div>
                        <div class="actions"><button class="delete non-collapsible"><img src="../icons/iconCross.svg" alt="Cross Icon"></button><button class="re-order"><img src="../icons/iconHorizontalDrag.svg" alt="Horizontal Drag Icon"></button></div>
                    </div>

                    <div data-id="#" class="task">
                        <div class="details">
                            <div class="title">
                                <div class="priority-indicator" style="border-color: orange;"></div>
                                <div class="title-text">Task Title</div>
                                <div class="separator"></div>
                            </div>
                            <div class="description"><textarea name="description-text" class="description-text" spellcheck="false">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur eius libero, soluta vero quam, commodi voluptatum aut iusto iste itaque earum perferendis consequatur unde nesciunt accusamus repellendus nulla omnis recusandae?</textarea></div>
                            <div class="note non-collapsible">
                                <div class="note-label">Note:</div><textarea name="note-text" class="note-text" spellcheck="false">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur eius libero, soluta vero quam, commodi voluptatum aut iusto iste itaque earum perferendis consequatur unde nesciunt accusamus repellendus nulla omnis recusandae?</textarea>
                            </div>
                            <div class="priority-due-date-time">
                                <div class="priority non-collapsible"><select class="priority-input" name="priority-input">
                                        <option value="3">High</option>
                                        <option value="2">Medium</option>
                                        <option value="1">Low</option>
                                    </select>
                                    <div class="priority-label">Priority:</div>
                                    <div class="priority-text">Medium</div>
                                </div>
                                <div class="due-date-time">
                                    <input type="datetime-local" class="input-date-time" name="input-date-time" onclick="this.showPicker()">
                                    <div class="due-date-time-label">Due:</div>
                                    <div class="due-date">6/4/2025</div>
                                    <div class="separator non-collapsible">-</div>
                                    <div class="due-time non-collapsible">06:56 AM</div>
                                </div>
                            </div>
                        </div>
                        <div class="actions"><button class="delete non-collapsible"><img src="../icons/iconCross.svg" alt="Cross Icon"></button><button class="re-order"><img src="../icons/iconHorizontalDrag.svg" alt="Horizontal Drag Icon"></button></div>
                    </div>

                    <div data-id="#" class="task">
                        <div class="details">
                            <div class="title">
                                <div class="priority-indicator" style="border-color: greenyellow;"></div>
                                <div class="title-text">Task Title</div>
                                <div class="separator"></div>
                            </div>
                            <div class="description"><textarea name="description-text" class="description-text" spellcheck="false">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur eius libero, soluta vero quam, commodi voluptatum aut iusto iste itaque earum perferendis consequatur unde nesciunt accusamus repellendus nulla omnis recusandae?</textarea></div>
                            <div class="note non-collapsible">
                                <div class="note-label">Note:</div><textarea name="note-text" class="note-text" spellcheck="false">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur eius libero, soluta vero quam, commodi voluptatum aut iusto iste itaque earum perferendis consequatur unde nesciunt accusamus repellendus nulla omnis recusandae?</textarea>
                            </div>
                            <div class="priority-due-date-time">
                                <div class="priority non-collapsible"><select class="priority-input" name="priority-input">
                                        <option value="3">High</option>
                                        <option value="2">Medium</option>
                                        <option value="1">Low</option>
                                    </select>
                                    <div class="priority-label">Priority:</div>
                                    <div class="priority-text">Medium</div>
                                </div>
                                <div class="due-date-time">
                                    <input type="datetime-local" class="input-date-time" name="input-date-time" onclick="this.showPicker()">
                                    <div class="due-date-time-label">Due:</div>
                                    <div class="due-date">6/4/2025</div>
                                    <div class="separator non-collapsible">-</div>
                                    <div class="due-time non-collapsible">06:56 AM</div>
                                </div>
                            </div>
                        </div>
                        <div class="actions"><button class="delete non-collapsible"><img src="../icons/iconCross.svg" alt="Cross Icon"></button><button class="re-order"><img src="../icons/iconHorizontalDrag.svg" alt="Horizontal Drag Icon"></button></div>
                    </div>
                </section>
            </main>
        </div>
        <div id="taskInputContainer">
            <div id="taskInputOverlay"></div>
            <div id="taskInput">
                <h2 id="taskInputHeading">Enter Task Details</h2>
                <div id="taskInpuTitleContainer">
                    <label for="taskInputTitle" id="taskInputTitleLabel">Title:</label>
                    <input type="text" id="taskInputTitle" name="taskInputTitle">
                </div>
                <div id="taskInputDescriptionContainer">
                    <label for="taskInputDescription" id="taskInputDescriptionLabel">Description:</label>
                    <textarea id="taskInputDescription" name="taskInputDescription"></textarea>
                </div>
                <div id="taskInputNoteContainer">
                    <label for="taskInputNote" id="taskInputNoteLabel">Note:</label>
                    <textarea id="taskInputNote" name="taskInputNote"></textarea>
                </div>
                <div id="taskInputPriorityContainer">
                    <label for="taskInputPriority" id="taskInputPriorityLabel">Priority:</label>
                    <select id="taskInputPriority" name="taskInputPriority">
                        <option value="3">High</option>
                        <option value="2">Medium</option>
                        <option value="1">Low</option>
                    </select>
                </div>
                <div id="taskInputDueDateTimeContainer">
                    <label for="taskInputDueDateTime" id="taskInputDueDateTimeLabel">Due Date & Time:</label>
                    <input type="datetime-local" id="taskInputDueDateTime" name="taskInputDueDateTime" onclick="this.showPicker()">
                </div>
                <div id="taskInputProjectContainer">
                    <label for="taskInputProject" id="taskInputProjectLabel">In Project:</label>
                    <select id="taskInputProject" name="taskInputProject">
                    </select>
                </div>
                <div id="taskInputActionButtons">
                    <button id="taskInputDiscardButton">Discard</button>
                    <button id="taskInputAddButton">Add</button>
                </div>
            </div>
        </div>
        <div id="taskMessageContainer">
            <div id="taskMessageWrapper">
                <h2 id="taskMessageHeading">Are you sure?</h2>
                <p id="taskMessage"></p>
                <div id="taskMessageActions">
                    <button id="taskMessageCancel">Cancel</button>
                    <button id="taskMessageConfirm">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>