/* Font Imports */
@font-face {
    font-family: 'montserrat-bold';
    src: url("../fonts/montserrat/Montserrat-Bold.ttf")
}

@font-face {
    font-family: 'inter-bold';
    src: url("../fonts/inter/Inter_28pt-Bold.ttf")
}

@font-face {
    font-family: 'inter-regular';
    src: url("../fonts/inter/Inter_28pt-regular.ttf")
}

/* Margin, Padding & Box-Sizing Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --header-height: 4rem;
    --sidebar-width: 20vw;
    --primary-background-color: #1C1C1E;
    --sidebar-padding: 0 0.4rem;
    --primary-text-color: #ECECEC;
    --primary-font-family: 'inter-bold', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --secondary-font-family: 'montserrat-bold', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --tertiary-font-family: 'inter-regular', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --quaternary-font-family: Roboto, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    user-select: none;
}

/* Layout */
#content {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#sidebar {
    height: 100%;
    width: var(--sidebar-width);
    flex-shrink: 0;
}

#content-main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Sidebar */
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    font-weight: 500;
    background-color: var(--primary-background-color);
    gap: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 1rem;
    border-right: 0.19rem solid #2A2F36;
    scrollbar-gutter: stable both-edges;
    width: 0;
    transition: width 0.5s ease;
}

#content.sidebarExpanded #sidebar {
    width: var(--sidebar-width);
}

#sidebar>* {
    width: 100%;
    padding: var(--sidebar-padding);
    flex-shrink: 0;
    white-space: nowrap;
}

/* User Information */
#sidebar-header {
    height: var(--header-height);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.125rem solid #2A2F36;
}

#user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#user-logo {
    height: 2.5rem;
    width: 2.5rem;
    background-image: linear-gradient(-45deg, #62cff4, #2c67f2);
    border-radius: 100%;
    border: 0.125rem solid white;
}

#programmer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    will-change: transform;
    transition: transform 0.5s ease;
}

#programmer:hover {
    transform: scale(1.05);
}

#programmer:active {
    transform: scale(0.95);
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#programmer::before,
#programmer::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 120%;
    width: 110%;
    background-image: conic-gradient(from var(--angle), skyblue, gray, blueviolet, deepskyblue, skyblue);
    border-radius: 0.5rem;
    z-index: -1;
    animation: 5s spin linear infinite;
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.5s ease;
}

#programmer:hover::before,
#programmer:hover::after {
    opacity: 1;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

#programmer::before {
    filter: blur(1rem);
}

#programmer a {
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--secondary-font-family);
    text-decoration: none;
    border-radius: 0.5rem;
    background-color: transparent;
    padding: 0.4rem 0.8rem;
    letter-spacing: 0.3rem;
    will-change: background-color, padding;
    transition: background-color 0.5s ease;
}

#programmer:hover a {
    background-color: black;
}

#button-toggle-sidebar {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 1.2rem;
    right: 0.8rem;
    height: 1.5rem;
    width: 1.5rem;
}

#content.sidebarExpanded #button-toggle-sidebar {
    position: static;
}

#button-toggle-sidebar>.icon {
    height: 100%;
    width: 100%;
}

/* Add Task Button */
#button-add-task {
    background: none;
    border: none;
    color: black;
    font-family: inherit;
    font-weight: inherit;
    width: 100%;
    background-color: #5D9FEB;
    padding: 0.5rem 0;
    font-size: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 10px 1px #0C0C0D;
}

#button-add-task:hover {
    background-color: hsl(212, 78%, 70%);
}

#button-add-task:active {
    background-color: hsl(212, 78%, 72%);
}

/* Filtered Tasks */
#filtered-tasks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5rem;
}

#filtered-tasks-heading {
    text-align: start;
    border-bottom: 1px solid #FFFFFF;
    padding: 0.3rem 0;
}

.filtered-task {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A2F36;
    box-shadow: 0 2px 3px 1px #0C0C0D;
    transition: background-color 0.2s ease;
}

.filtered-task:not(.selected):hover {
    background-color: hsl(217, 14%, 25%);
}

.filtered-task.selected {
    background-color: hsl(217, 14%, 27%);
}

.filtered-task-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    height: 100%;
    padding-left: 0.5rem;
    height: 1.8rem;
    width: 1.8rem;
}

.filtered-task-icon>img {
    height: 100%;
    width: 100%;
}

.filtered-task-title {
    background: none;
    border: none;
    color: #7DA1CB;
    font-family: inherit;
    font-weight: inherit;
    cursor: inherit;
    font-size: 1rem;
    padding: 0.4rem 0;
}

/* Projects */

#projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0;
}

#projects>* {
    padding: var(--sidebar-padding);
}

#projects-heading,
#project-dropdown-button {
    width: 100%;
}

#project-dropdown-button {
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    border-bottom: 1px solid #FFFFFF;
    padding: 0.3rem 0;
}

.project-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.add-project>.icon {
    transition: opacity 0.3s ease, transform 0.2s ease;
}

.add-project>.icon:hover {
    opacity: 0.8;
}

.add-project>.icon:active {
    transform: scale(0.9);
}

.add-project>.icon,
.caret>.icon {
    height: 1.4rem;
    width: 1.4rem;
}
.projects-toggle-icon{
    transition: transform 0.5s ease;
}
.projects-toggle-icon.collapsed{
    transform: rotate(180deg);
}

#all-projects-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #333333;
    padding: 0.4rem 0.5rem;
    border-radius: 0.2rem;
    white-space: nowrap;
    transition: background-color 0.2s ease;
}

.project.selected {
    background-color: hsl(0, 0%, 27%);
}

.project:not(.selected):hover {
    background-color: hsl(0, 0%, 25%);
}

.project-label-color {
    height: 1.2rem;
    width: 1.2rem;
    background-color: white;
    border-radius: 0.2rem;
}

.total-tasks-counter {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Header */
#header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: var(--header-height);
    width: 100%;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    gap: 1rem;
    font-family: var(--primary-font-family);
    padding-left: 1rem;
    flex-shrink: 0;
}

#header>#currentTab {
    text-transform: capitalize;
}

/* Main */
#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #EAF6FF;
    padding: 1rem;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

/* Sort */
#sort-section {
    font-family: var(--primary-font-family);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;
    width: 100%;
    gap: 0.5rem;
}

#sort-section>label {
    font-size: 1.2rem;
}

#sort {
    background-color: #212121;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 0.4rem;
}

/* Tasks */
#tasks-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
    padding: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable both-edges;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#tasks-section>.task {
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    flex-shrink: 0;
    gap: 1rem;
    height: 4rem;
    box-shadow: 2px 2px 4px 1px gray;
    cursor: pointer;
    animation: fadeIn 0.5s ease;
    transition: height 0.5s ease;
}

#tasks-section>.task>.details {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    overflow: hidden;
}

#tasks-section>.task>.details::after {
    content: "";
    position: absolute;
    height: 0.2rem;
    width: 0%;
    background-color: rgba(41, 50, 65, 0.5);
    margin-left: 2.5rem;
    transition: width 0.5s ease;
}

#tasks-section>.task.checked>.details::after {
    width: 82%;
}

#tasks-section>.task.expanded.checked>.details::after {
    width: 100%;
    top: 5%;
}

#tasks-section>.task>.details>* {
    max-width: max-content;
}


#tasks-section>.task>.details>.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 20%;
    max-width: none;
    flex-shrink: 0;
    cursor: pointer;
}

#tasks-section>.task>.details>.title>.priority-indicator {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.875rem;
    width: 1.875rem;
    border: 0.3rem solid black;
    border-radius: 100%;
    flex-shrink: 0;
    cursor: inherit;
    transition: border-color 0.5s ease, border-radius 0.5s ease, background-color 0.5s ease;
}

#tasks-section>.task>.details>.title>.priority-indicator::before,
#tasks-section>.task>.details>.title>.priority-indicator::after {
    opacity: 0;
    position: absolute;
    content: '';
    width: 20%;
    height: 0%;
    border-radius: 0.4rem;
    background-color: white;
}

#tasks-section>.task.checked>.details>.title>.priority-indicator::before,
#tasks-section>.task.checked>.details>.title>.priority-indicator::after {
    opacity: 1;
}

#tasks-section>.task>.details>.title>.priority-indicator::before {
    transform: rotate(-45deg) translateY(-20%) translateX(-150%);
    transition: opacity 0.5s ease, height 0.5s ease;
}

#tasks-section>.task.checked>.details>.title>.priority-indicator::before {
    height: 50%;
}

#tasks-section>.task>.details>.title>.priority-indicator::after {
    transform: rotate(45deg) translateY(-10%) translateX(50%);
    transition: opacity 0.5s ease, height 0.5s ease;
}

#tasks-section>.task.checked>.details>.title>.priority-indicator::after {
    height: 90%;
}

#tasks-section>.task.checked>.details>.title>.priority-indicator {
    border-radius: 0;
    background-color: transparent;
}

#tasks-section>.task>.details>.title>.title-text {
    overflow-x: hidden;
    font-family: var(--primary-font-family);
    font-size: 1.5rem;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: inherit;
    transition: color 0.5s ease;
}

#tasks-section>.task.checked>.details>.title>.title-text {
    color: rgba(28, 28, 30, 0.5);
}

#tasks-section>.task.checked>.details>.title>.title-text {
    cursor: default;
}

#tasks-section>.task>.details>.title>.separator {
    height: 2.5rem;
    width: 0.15rem;
    max-width: none;
    background-color: #1C1C1E;
    flex-shrink: 0;
    transition: background-color 0.5s ease;
}

#tasks-section>.task.checked>.details>.title>.separator {
    background-color: rgba(41, 50, 65, 0.5);
}

#tasks-section>.task>.details>.description {
    height: 100%;
    width: 100%;
    max-width: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#tasks-section>.task>.details>.description>.description-text {
    width: 100%;
    height: 70%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: color 0.5s ease;
}

#tasks-section>.task.checked>.details>.description>.description-text {
    color: rgba(41, 50, 65, 0.5);
}

#tasks-section>.task.expanded>.details>.description>.description-text {
    cursor: auto;
    white-space: unset;
    overflow: auto;
}

#tasks-section>.task>.details>.description>.description-text,
#tasks-section>.task>.details>.note>.note-label,
#tasks-section>.task>.details>.note>.note-text {
    font-family: var(--quaternary-font-family);
    font-size: 1.2rem;
}

#tasks-section>.task>.details>.note>.note-label {
    font-weight: bold;
}

#tasks-section>.task>.details>.note {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.4rem;
    overflow: hidden;
}

#tasks-section>.task>.details>.note>.note-text {
    transition: color 0.5s ease;
}

#tasks-section>.task.checked>.details>.note>.note-text {
    color: rgba(41, 50, 65, 0.5);
}

#tasks-section>.task>.details>.description>.description-text,
#tasks-section>.task>.details>.note>.note-text {
    border: none;
    resize: none;
}

#tasks-section>.task>.details>.description>.description-text:focus,
#tasks-section>.task>.details>.note>.note-text:focus {
    outline: none;
}

#tasks-section>.task>.details>.priority-due-date-time {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: var(--quaternary-font-family);
}

#tasks-section>.task>.details>.priority-due-date-time>.priority,
#tasks-section>.task>.details>.priority-due-date-time>.due-date-time {
    display: flex;
    width: 100%;
    gap: 0.4rem;
}

#tasks-section>.task.expanded>.details>.priority-due-date-time>.priority,
#tasks-section>.task.expanded>.details>.priority-due-date-time>.due-date-time {
    width: max-content;
    cursor: pointer;
}

#tasks-section>.task>.details>.priority-due-date-time>.priority {
    position: relative;
    justify-content: flex-start;
}

#tasks-section>.task>.details>.priority-due-date-time>.priority>.priority-input,
#tasks-section>.task>.details>.priority-due-date-time>.due-date-time>.input-date-time {
    display: none;
}

#tasks-section>.task.expanded>.details>.priority-due-date-time>.priority>.priority-input,
#tasks-section>.task.expanded>.details>.priority-due-date-time>.due-date-time>.input-date-time {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#tasks-section>.task.expanded>.details>.priority-due-date-time>.priority>.priority-input {
    background-color: black;
    color: white;
    text-align: center;
}

#tasks-section>.task>.details>.priority-due-date-time>.priority>.priority-label {
    font-weight: bold;
}

#tasks-section>.task>.details>.priority-due-date-time>.due-date-time {
    position: relative;
    justify-content: flex-end;
}

#tasks-section>.task>.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    flex-shrink: 0;
}

/* Delete Icon */
.delete {
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete>img,
.re-order>img {
    height: 100%;
    width: 100%;
    pointer-events: none;
}

/* Re-order Icon */
.re-order {
    height: 1.4rem;
    width: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: grab;
}

.re-order:active {
    cursor: grabbing;
}

/* Clickable Elements */
#button-add-task,
.filtered-task,
#button-create-project,
#project-dropdown-button,
.project {
    cursor: pointer;
}

#content>#content-main>#main>#tasks-section>.task .non-collapsible {
    display: none;
}

/* Expanded */
@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hide {
    from {
        display: flex;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
    }
}

@keyframes centerToSpaceBetween {
    from {
        justify-content: space-between;
    }

    to {
        justify-content: center;
    }
}

@keyframes absoluteToFixed {
    from {
        display: absolute;
        left: 14.3rem;

    }

    to {
        opacity: 1;
        display: fixed;
        left: 1.5rem;
    }
}

.show {
    animation: show 1s ease;
}

.hide {
    animation: hide 0.3s ease;
}

.centerToSpaceBetween {
    animation: centerToSpaceBetween 0.5s ease;
}

/* Sidebar */
#content:not(.sidebarExpanded) #sidebar #button-toggle-sidebar {
    position: fixed;
    top: 1.2rem;
    right: unset;
    left: 1.5rem;
    animation: absoluteToFixed 0.5s ease;
}

#content:not(.sidebarExpanded)>#content-main>#header {
    padding-left: 4rem;
}

#content>#content-main>#main>#tasks-section {
    width: 100%;
}

#content>#content-main>#main>#tasks-section>.task.expanded {
    height: 20rem;
    cursor: auto;
}

#content>#content-main>#main>#tasks-section>.task.expanded .non-collapsible {
    display: flex;
}

#content>#content-main>#main>#tasks-section>.task.expanded>.details {
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}

#content>#content-main>#main>#tasks-section>.task.expanded>.details>.title {
    width: auto;
    max-width: 100%;
    white-space: unset;
}

#content>#content-main>#main>#tasks-section>.task.expanded>.details>.title>.title-text {
    max-height: 2rem;
}

#content>#content-main>#main>#tasks-section>.task.expanded>.details>.title>.separator {
    display: none;
}

#content>#content-main>#main>#tasks-section>.task.expanded>.details>.description {
    display: flex;
    width: 100%;
    max-width: none;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
}

#content>#content-main>#main>#tasks-section>.task.expanded>.details>.note {
    width: 100%;
    max-width: none;
    overflow: hidden;
}

#content>#content-main>#main>#tasks-section>.task.expanded>.details>.description>.description-text {
    width: 100%;
    height: 100%;
}

#content>#content-main>#main>#tasks-section>.task.expanded>.details>.note>.note-text {
    max-width: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#content>#content-main>#main>#tasks-section>.task.expanded>.details>.description,
#content>#content-main>#main>#tasks-section>.task.expanded>.details>.note>.note-text {
    border: 2px solid gray;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

#content>#content-main>#main>#tasks-section>.task.expanded>.details>.priority-due-date-time {
    max-width: none;
    width: 100%;
    justify-content: space-between;
}

#content>#content-main>#main>#tasks-section>.task.expanded>.actions {
    justify-content: space-between;
}

/* Expand Animations */
#content>#content-main>#main>#tasks-section>.task.expanded>.details>.description,
#content>#content-main>#main>#tasks-section>.task.expanded .non-collapsible {
    animation: show 1s;
}

/* Selected */
.filtered-task.selected {
    background-color: hsl(217, 14%, 30%);
}

/* Task Input */
#taskInputContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    pointer-events: none;
    user-select: none;
}

#taskInputContainer>#taskInputOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.1rem);
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: opacity 0.5s ease;
}

#taskInputContainer.visible>#taskInputOverlay {
    opacity: 1;
    pointer-events: all;
}

#taskInputContainer>#taskInput {
    position: absolute;
    height: 80svh;
    width: 80svh;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 0.4rem;
    backdrop-filter: blur(0.2rem);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    font-family: var(--secondary-font-family);
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-150%);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#taskInputContainer.visible>#taskInput {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0%);
}

#taskInputHeading {
    align-self: center;
}

#taskInputContainer>#taskInput>*:not(#taskInputHeading, #taskInputActionButtons) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

#taskInputContainer>#taskInput>*:not(#taskInputHeading, #taskInputActionButtons)>:first-child {
    white-space: nowrap;
    width: 60%;
    font-size: 1.2rem;
    cursor: pointer;
}

#taskInputContainer>#taskInput>*:not(#taskInputHeading, #taskInputActionButtons)>:nth-child(2) {
    width: 100%;
    height: 3rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-gutter: stable;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: inherit;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition: border-color 0.5s ease;
}

#taskInputContainer>#taskInput>*:not(#taskInputHeading, #taskInputActionButtons)>:nth-child(2):hover {
    border-color: hsl(212, 30%, 65%);
}

#taskInputContainer>#taskInput>*:not(#taskInputHeading, #taskInputActionButtons)>:nth-child(2):focus {
    border-color: #7DA1CB;
}

#taskInputProject>option {
    background-color: black;
    cursor: pointer;
}

#taskInputContainer>#taskInput>#taskInputActionButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    gap: 1rem;
}

#taskInputDiscardButton,
#taskInputAddButton {
    font-size: inherit;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    background-color: #EAF6FF;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#taskInputDiscardButton:hover,
#taskInputAddButton:hover {
    transform: scale(1.1);
}

#taskInputDiscardButton:active,
#taskInputAddButton:active {
    transform: scale(1.05);
}

#taskInputPriority {
    position: relative;
}

/* Task Message */
#taskMessageContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
}

#taskMessageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    height: max-content;
    min-height: 40svh;
    width: max-content;
    max-width: 60svh;
    border: 2px solid rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 0.4rem;
    pointer-events: all;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.1rem);
    color: white;
    opacity: 0;
    transform: translateY(-200%);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#taskMessageContainer.visible>#taskMessageWrapper {
    opacity: 1;
    transform: translateY(0%);
}

#taskMessageHeading {
    font-family: var(--primary-font-family);
    font-size: 2rem;
}

#taskMessage {
    font-family: var(--quaternary-font-family);
    user-select: text;
    font-size: 1.5rem;
}

#taskMessageActions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#taskMessageActions>button {
    background: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.6rem 1.4rem;
    border-radius: 0.4rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#taskMessageActions>button:hover {
    transform: scale(1.1);
}

#taskMessageActions>button:active {
    transform: scale(1.05);
}

/* Project Input */
#projectInputContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
    color: white;
}

#projectInputOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.1rem);
    z-index: 5;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#projectInputContainer.visible>#projectInputOverlay {
    pointer-events: all;
    opacity: 1;
}

#projectInput {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50svh;
    width: 70svh;
    backdrop-filter: blur(0.2rem);
    pointer-events: all;
    border: 2px solid rgba(255, 255, 255, 0.8);
    z-index: 10;
    padding: 1rem;
    transform: translateY(-200%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#projectInputContainer.visible>#projectInput {
    pointer-events: all;
    user-select: text;
    opacity: 1;
    transform: translateY(0%);
}

#projectInputHeading {
    font-family: var(--primary-font-family);
    font-size: 2rem;
}

#projectInputNameLabel,
#projectInputColorLabel {
    font-family: var(--tertiary-font-family);
    font-size: 1.7rem;
    width: 35%;
}

#projectInput>*:not(#projectInputHeading, #projectInputActions) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#projectInputName,
#projectInputColor {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 0.4rem;
}

#projectInputName {
    height: 70%;
    background-color: rgba(0, 0, 0, 0.1);
    color: inherit;
    font-size: 1.4rem;
    padding: 0.6rem;
}

#projectInputColor {
    height: 105%;
    width: 105%;
    appearance: none;
    cursor: pointer;
}

#projectInputActions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#projectInputCancel,
#projectInputCreate {
    border: none;
    outline: none;
    background: none;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 0.4rem 0.8rem;
    width: 30%;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--primary-font-family);
    cursor: pointer;
    user-select: none;
    transition: transform 0.3s ease;
}

#projectInputCancel:hover,
#projectInputCreate:hover {
    transform: scale(1.1);
}

#projectInputCancel:active,
#projectInputCreate:active {
    transform: scale(1.05);
}

#content .displayNone {
    display: none;
}
/* Project Edit */
#projectEditContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
    color: white;
}

#projectEditOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.1rem);
    z-index: 5;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#projectEditContainer.visible>#projectEditOverlay {
    pointer-events: all;
    opacity: 1;
}

#projectEdit {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50svh;
    width: 70svh;
    backdrop-filter: blur(0.2rem);
    pointer-events: all;
    border: 2px solid rgba(255, 255, 255, 0.8);
    z-index: 10;
    padding: 1rem;
    transform: translateY(-200%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#projectEditContainer.visible>#projectEdit {
    pointer-events: all;
    user-select: text;
    opacity: 1;
    transform: translateY(0%);
}

#projectEditHeading {
    font-family: var(--primary-font-family);
    font-size: 2rem;
}

#projectEditNameLabel,
#projectEditColorLabel {
    font-family: var(--tertiary-font-family);
    font-size: 1.7rem;
    width: 35%;
}

#projectEdit>*:not(#projectEditHeading, #projectEditActions) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#projectEditName,
#projectEditColor {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 0.4rem;
}

#projectEditName {
    height: 70%;
    background-color: rgba(0, 0, 0, 0.1);
    color: inherit;
    font-size: 1.4rem;
    padding: 0.6rem;
}

#projectEditColor {
    height: 105%;
    width: 105%;
    appearance: none;
    cursor: pointer;
}

#projectEditActions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#projectEditCancel,
#projectEditConfirm {
    border: none;
    outline: none;
    background: none;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 0.4rem 0.8rem;
    width: 30%;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--primary-font-family);
    cursor: pointer;
    user-select: none;
    transition: transform 0.3s ease;
}

#projectEditCancel:hover,
#projectEditConfirm:hover {
    transform: scale(1.1);
}

#projectEditCancel:active,
#projectEditConfirm:active {
    transform: scale(1.05);
}

#content .displayNone {
    display: none;
}

/* Delete All Tasks Button */
#delete-all-tasks {
    margin-right: auto;
    background: none;
    border: none;
    outline: none;
    font-size: inherit;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 0.5rem 1rem;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 0.4rem;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#delete-all-tasks.visible {
    opacity: 1;
    pointer-events: all;
}

#delete-all-tasks:hover {
    transform: scale(1.1);
}

#delete-all-tasks:active {
    transform: scale(1.05);
}

/* Project Actions */
#project-actions {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 6rem;
    width: 7rem;
    background-color: hsl(240, 5%, 14%);
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 0.2rem;
    padding: 0.4rem;
    font-size: inherit;
    font-weight: inherit;
}
#project-actions.active{
    display: flex;
}

#project-actions>button {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    width: 100%;
    padding: 0.4rem;
    background-color: hsl(240, 5%, 16%);
    cursor: pointer;
    border-radius: 0.2rem;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

#project-actions>button:hover {
    background-color: hsl(240, 5%, 20%);
}

#project-actions>button:active {
    transform: scale(0.96);
}

/* Drag-and-drop */
.task.dragging {
    opacity: 0.5;
}